# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local DB
db.sqlite3
*.sqlite3

# macOS & IDE
.DS_Store
.idea/
.vscode/

# Logs
*.log

# Collected static (output of collectstatic)
staticfiles/

# User uploads
media/
db.sqlite3.bak
